<ion-view view-title='<img class="title-image" src="img/logowhite.png" height="100%"/>'>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Accordion List</h1>
    </ion-header-bar>
    <ion-content>

        <ion-list>
            <form id="CarSearchForm" method="post" accept-charset="utf-8">
                <div ng-repeat="group in groups">
                    <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                        <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{ group.label }}
                    </ion-item>

                    <ion-item class="item-accordion" ng-show="isGroupShown(group)">
                        <div ng-repeat="field in group.options" ng-switch on="group.group">
                            <div ng-switch-when="between" class="half-box">
                                <div ng-switch on="group.type">
                                    <div ng-switch-when="text">
                                        <label>{{field.label}}</label>
                                        <input type="{{group.type}}" name="{{field.name}}" value="{{field.value}}">
                                    </div>
                                    <div ng-switch-when="select" class="select-wrap">
                                        <label>{{field.label}}</label>
                                        <select name="{{field.name}}">
                                            <option ng-repeat="(key, option) in field.options" value="{{key}}">{{option}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="multiple">
                                <input type="{{group.type}}" name="{{group.name}}" value="{{field.value}}" ng-checked="field.selected">
                                <label>{{field.label}}</label>
                            </div>
                        </div>

                        <div ng-switch on="group.group">
                            <div ng-switch-when="makes">
                                <input id="makequery" type="text" value="" data-ng-model="query" placeholder="Filter by Make" autofocus class="filter-text-box rounded" />
                                <ul style="" class="makefilters" slim-scroll="150">
                                    <li style="list-style:none;" ng-repeat="make in group.options">
                                        <input id="{{make.value.replace(' ', '_')}}" name="{{group.name}}" type="{{group.type}}" value="{{make.value}}" id="makescheckbox" ng-click="getModels(this)" ng-checked="make.selected" />
                                        <label class="makelabel">{{make.value.toLowerCase()}}</label>
                                        <div id="branch_{{make.value.replace(' ', '_')}}" data-load="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div ng-switch on="group.group">
                            <span ng-switch-when="single"> <label>{{group.label}}</label>
                <input type="{{group.type}}"  name="{{group.name}}" value="{{group.value}}" />
              </span>
                        </div>
                        <div ng-switch on="group.group">
                            <span ng-switch-when="mixed">
                <span ng-repeat="field in group.options">
                  <div ng-switch on="field.type" class="half-box">
                    <span class=""  ng-switch-when="text" >
                      <input class="class{{group.label}}" type="{{field.type}}"  name="{{field.name}}" value="{{field.value}}" />
                    </span>
                            <span class="pull-right select-wrap" ng-switch-when="select">
                      <!-- <label>{{field.label}}</label> -->
                      <select  name="{{field.name}}" value="{{field.value}}" >
                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                      </select>
                    </span>
                        </div>
                        </span>
                        </span>
                </div>
                <br>
                <div class="clearfix"></div>

                <button id="searchlink" ng-click="goClick()"> Go </button>

                <!-- <a my-refresh="" id="searchlink" ng-click="goClick()" class="btn btn-xs pull-right" style=" background:#A9AAAC;">Go</a> -->
                </ion-item>
                </div>
            </form>
        </ion-list>

    </ion-content>
</ion-view>
