<ion-view view-title='<img class="title-image" src="img/logowhite.png" height="100%"/>'>
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <h2>{{ cardata.data.current.Car.vehicle == null ? cardata.data.current.Car.make + cardata.data.current.Car.model + cardata.data.current.Car.year : cardata.data.current.Car.vehicle }} </h2>
                <p>$ {{ cardata.data.current.Car.price == null ? "" : cardata.data.current.Car.price }}</p>
            </div>
            <div class="item item-body">
                <ion-slide-box auto-play="true" on-slide-changed="slideHasChanged($index)" does-continue="true">
                    <ion-slide ng-repeat="slide in allslide">
                        <img ng-src="{{slide}}">
                    </ion-slide>
                </ion-slide-box>

                <p>
                    {{ cardata.data.current.Car.standard_features == null? "" : cardata.data.current.Car.standard_features }}
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
