<ion-view view-title='<img class="title-image" src="img/logowhite.png" height="100%"/>'>
    <ion-content>

        <div ng-switch="sellstep">

            <div ng-switch-when='1'>
                <div class="list">
                    <label class="item item-input item-select">
                        <span class="input-label"> Make </span>
                        <select id="searchmake" ng-selected='select' ng-model='search.make' ng-options='k as v for (k, v) in search.makes' name="makehome">
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <span class="input-label"> Model </span>
                        <select name="model" ng-model='search.model' id="searchmodel" ng-options='k as v for (k, v) in search.models'>
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <span class="input-label"> Year </span>
                        <select id="searchmake" ng-selected='select' ng-model='search.year' ng-options='k as v for (k, v) in search.years' name="makehome">
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <span class="input-label"> Variant </span>
                        <select name="model" ng-model='search.variant' id="searchmodel" ng-options='k as v for (k, v) in search.variants'>
                        </select>
                    </label>

                    <label class="item">
                        <button ng-click="findcar()" class="button button-block button-positive" type="submit">Find</button>
                    </label>
                </div>
                <div class="list" ng-show='glasscars'>
                    <p>{{cars_total}} Car(s) found. Please select your car model and click "select & continue" button.</p>
                    <div ng-repeat="car in glasscars">
                        <div class="item item-thumbnail-left">
                            <img class="full-image" no-image ng-src="{{car.Source.imgurl}}">
                            <h2>{{car.Source.make}}  {{car.Source.model}}  {{car.Source.year}}</h2>
                            <h4>Variant: {{car.Source.variant}}  {{car.Source.transmission}}  {{car.Source.size}}    </h4>
                            <h4> Features </h4>
                            <ul>
                                <li>{{car.Source.bodytype}}</li>
                                <li>{{car.Source.cyl}} cyl</li>
                                <li>{{car.Source.transmission}} L</li>
                                <li>{{car.Source.size}}</li>
                            </ul>
                            <a href="" ng-click="glassCarSelect(car.Source.nvic, car.Source.imgurl)">Select & Continue</a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when='2'>
                <div class="container-inner">
                    <h2>WHAT FEATURE DOES YOUR CAR HAVE?</h2>
                    <h2>Standard Features</h2>

                    <ul class="list" ng-repeat="collections in smodulas">
                        <li class="item item-checkbox" ng-repeat="feature in collections">
                            <label class="checkbox">
                                <input type="checkbox" checked="checked" checklist-model="featured.sfeatures" checklist-value="feature.text">
                            </label>
                            {{ feature.text }}
                        </li>
                    </ul>
                    <br>
                    <h2>Optional Features</h2>
                    <ul class="list" ng-repeat="collections in omodulas">
                        <li class="item item-checkbox" ng-repeat="feature in collections">
                            <label class="checkbox">
                                <input type="checkbox" checked="checked" checklist-model="featured.ofeatures" checklist-value="feature.text">
                            </label>
                            {{ feature.text }}
                        </li>
                    </ul>
                    <br>
                    <br>
                    <a ng-click='next(1)' class="btn rounded button search-btn btn-back"> Back </a>&nbsp; <a class="btn rounded button search-btn" href="" ng-click='next(3)'> Next </a>
                </div>
            </div>

            <div ng-switch-when="3">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label"> Post Code </span>
                        <input ng-click="posteCodeBlur()" type="text" name="postcode" ng-model="search.postcode" class="form-control">
                    </label>
                    <label class="item item-input">
                        <ul ng-style="drop_style">
                            <li ng-repeat="item in postcodes">
                                <button ng-click="postCodeSelect(item)">{{item.postcode}} {{item.suburb}} {{item.state}}</button>
                            </li>
                        </ul>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Suburb  </span>
                        <input ng-model='search.suburb' type="text">
                    </label>
                    <label class="item item-select">
                        <span class="input-label"> Car Condition </span>
                        <select ng-model='search.condition'>
                            <option value="N" selected="selected">New</option>
                            <option value="U">Used</option>
                            <option value="DU">Dealer-Used</option>
                        </select>
                        <span ng-switch='search.condition'>
                        <span ng-switch-when="N">New</span>
                        <span ng-switch-when="U">Used</span>
                        <span ng-switch-when="DU">Dealer-Used</span> </span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> VIN Code  </span>
                        <input type="text" ng-model='search.vin_code'>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Odometer (km)  </span>
                        <input ng-model='search.odometer' type="text">
                    </label>
                    <label class="item">
                        <span class="input-label"> Colour </span>
                        <input ng-model='search.color' type="text" class="form-control">
                    </label>
                    <label class="item item-input">
                        <ul ng-style="drop1_style">
                            <li ng-repeat="item in colorLists">
                                <button ng-click="ColorSelect(item)">{{item}}</button>
                            </li>
                        </ul>
                    </label>
                    <label class="item">
                        <span class="input-label"> Is your car registered? </span>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" ng-model='search.registered' value='1'>
                        <div class="item-content">
                            Yes
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" ng-model='search.registered' value='0'>
                        <div class="item-content">
                            No
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Registration Plate  </span>
                        <input type="text" class="form-control" ng-model='search.rego' value='0'>
                    </label>
                    <label class="item">
                        <span class="input-label"> Registration Expiry </span>
                    </label>
                    <label class="item item-select">
                        <span class="input-label"> Months </span>
                        <select ng-model="search.rego_exp_month">
                            <option ng-repeat="item in months" value="{{item}}">{{item}}</option>
                        </select>
                    </label>
                    <label class="item item-select">
                        <span class="input-label"> Years </span>
                        <select ng-model="search.rego_exp_year">
                            <option value="2012">
                                2012
                            </option>
                            <option value="2013">
                                2013
                            </option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Price  </span>
                        <input ng-model='search.price' type="text" class="form-control">
                    </label>
                    <label class="item item-radio">
                        <input type="checkbox" ng-model='search.allow_offers' value="1">
                        <div class="item-content"> Allow buyer to make an offer on this vehicle </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Email </span>
                        <input type="text" ng-model='search.ad_email' class="form-control">
                    </label>
                    <label class="item item-radio">
                        <input type="checkbox" ng-model='search.show_email' value="1">
                        <div class="item-content"> Show my email on ad </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Phone </span>
                        <input type="text" ng-model='search.ad_phone' class="form-control">
                    </label>
                    <label class="item item-radio">
                        <input type="checkbox" ng-model='search.show_phone'>
                        <div class="item-content"> Show my phone number on ad </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Engine 
                            <button popover="vin code gose here!" popover-trigger="mouseenter" class="btn-pop">?</button> </span>
                        <input type="text" ng-model='search.engine' class="form-control">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Towing Braked </span>
                        <input type="text" ng-model='search.tow_braked' class="form-control">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Fuel Economy(City) </span>
                        <input type="text" ng-model='search.fuel_consumption_city' class="form-control">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Stock </span>
                        <input type="text" ng-model='search.stock' class="form-control">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Vehicle Description </span>
                        <textarea ng-model='search.description' class="form-control" rows="3"></textarea>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"> Notes  </span>
                        <textarea ng-model='search.notes' class="form-control" rows="3"></textarea>
                    </label>
                </div>
                <a ng-click='next(2)' class="btn rounded button search-btn btn-back"> Back </a>&nbsp; <a class="btn rounded button search-btn" href="" ng-click='next(4)'> Next </a>
            </div>

            <div ng-switch-when="4">
                <form>
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Username</span>
                            <input type="text" ng-model="selllogin.username" Placeholder="Type your username">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="selllogin.password" Placeholder="******">
                        </label>
                        <label class="item">
                            <button ng-click="next(5)" class="button button-block button-positive">Sign in</button>
                        </label>
                    </div>
                </form>
            </div>

            <div ng-switch-when="5">
                <label class="item">
                    <button ng-click="getCameraPhoto()" class="button button-block button-positive">Take Photo</button>
                </label>
                <label class="item">
                    <div ng-repeat='image in search.uploaded_images'>
                        <img ng-src="{{image.src}}" />
                    </div>
                </label>
                <label class="item">
                    <img ng-src="{{ imageloc }}" ng-model="camerafile" />
                </label>
                <label class="item">
                    <input type="file" name="file" ng-file-select="fileUpload($files)" class>
                </label>
                <a ng-click='next(3)' class="btn rounded button search-btn btn-back"> Back </a>&nbsp;
                <a ng-click='next(6)' class="btn rounded button search-btn btn-back"> Preview </a>&nbsp;
                <a ng-click='saveCar(2)' class="btn rounded button search-btn btn-back"> Save & Exit </a>
            </div>

            <div ng-switch-when="6">
                <div class="container-inner publish-add">
                    <div class="row tableContainer">
                        <div class="col-md-6 tableCell" style=" background-color:#D1D1D3; border-left:.75em solid #F1F3F2;">
                            <h2 class="title2">PREVIEW YOUR AD</h2>
                            <div class="carpreview">

                                <h2><span class="left-title">{{search.style}} {{search.transmission}}</span>
                                <SPAN class="right-price">${{search.price}}</SPAN>
                                <div class="clearfix"></div>
                            </h2>
                                <div class="border"></div>
                                <img ng-src='{{search.imagepreviewinadd}}' class="img-responsive" width="100%">
                                <div class="description">
                                    <h4>Key Details</h4>
                                    <div class="border"></div>
                                    <ul>
                                        <li ng-bind='search.style'>4D wagon</li>
                                        <li ng-bind='search.transmission'>2.0L MULTIPOINT F/INJ</li>
                                        <li ng-bind='search.cyl'>Lorem ipsum</li>
                                        <li ng-bind='search.size'>4D wagon</li>
                                    </ul>

                                    <h4>Vehicle Details</h4>
                                    <div class="border"></div>
                                    <div class="table-responsive">
                                        <table class="table table-wrap">
                                            <colgroup>
                                                <col class="col-xs-1">
                                                    <col class="col-xs-7">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <td>Vehicle</td>
                                                    <td ng-bind='search.description'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.consectetuer adipiscing elit, sed diam nonummy. </td>
                                                </tr>
                                                <tr>
                                                    <td>Price</td>
                                                    <td ng-bind='search.price'></td>
                                                </tr>
                                                <tr>
                                                    <td>Kilometres</td>
                                                    <td ng-bind='search.odometer'></td>
                                                </tr>
                                                <tr>
                                                    <td>Colour</td>
                                                    <td ng-bind='search.color'></td>
                                                </tr>
                                                <tr>
                                                    <td>Transmission</td>
                                                    <td ng-bind='search.transmission'></td>
                                                </tr>
                                                <tr>
                                                    <td>Body Type</td>
                                                    <td ng-bind='search.body'>4D SEDAN</td>
                                                </tr>
                                                <tr>
                                                    <td>Engine</td>
                                                    <td ng-bind='search.engine'>2.0L MULTIPOINT F/INJ</td>
                                                </tr>
                                                <tr>
                                                    <td>Reg Plate</td>
                                                    <td ng-bind='search.rego'>158sxu</td>
                                                </tr>
                                                <tr>
                                                    <td>Reg Expiry</td>
                                                    <td>{{search.rego_exp_month}}/{{search.rego_exp_year}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Towing Braked</td>
                                                    <td ng-bind='search.tow_braked'>1400</td>
                                                </tr>
                                                <tr>
                                                    <td>Fuel Economy(City)</td>
                                                    <td ng-bind='search.fuel_consumption_city'></td>
                                                </tr>
                                                <tr>
                                                    <td>Stock</td>
                                                    <td ng-bind='search.stock'></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="leftfield">
                                <div>
                                    <a ng-click='next(5)' class="btn rounded button search-btn btn-back"> Back </a>

                                    <a ng-click='saveCar(2)' class="btn rounded button search-btn" href=""> Save Now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <div ng-switch-when="7">
                Save & Exit Page
            </div>


        </div>
    </ion-content>
</ion-view>
