<ion-view view-title='' class="carscontainer landing">
    <ion-content class="has-header custum-indistinct">
        <div class="center-logo padding">
            <img src="img/logowhite.png">
        </div>
        <div class="home-search">
            <div class="content has-header">
                <form ng-submit="search()">
                  <div class="list list-inset">
                    <label class="item item-input">
                        <input ng-model="landing.quicksearch" type="text" placeholder="Search Cars eg: Make, Model, Year, Location">
                        <button type="submit" class="button button-icon button-icon ion-search">
                        </button>
                    </label>
                </div>  
                </form>
            <!--    <form ng-submit="search()">
                    <div class="list">
                        <div class="item item-button-right">
                            <input type="text" ng-model="landing.quicksearch" placeholder="Search Cars eg: Make, Model, Year, Location"> 
                            <button type="submit" class="button button-icon ion-search">
                            </button>
                        </div>
                    </div>
                </form>  -->
            </div>
        </div>
    </ion-content>
</ion-view>
