<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-search">
                </button>
                <button ng-click="showOptions()" class="button button-icon button-clear ion-android-more-vertical">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/profile">
                    <i class="icon ion-person"> Profile </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="icon ion-home"> Home </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/dashboard">
                    <i class="ion-stats-bars"> Dashboard </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/setting">
                    <i class="ion-android-settings"> Setting </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/about">
                    <i class="ion-navicon-round"> About </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/signin">
                    <i class="ion-log-in"> Sign In </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/signup">
                    <i class="ion-log-out"> Sign Up </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/landing">
                    <i class="icon ion-home"> Landing page </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/carsell">
                    <i class="icon ion-home"> Sell </i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/browsecars">
                    <i class="ion-navicon-round"> Browse Cars </i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
