<ion-view view-title='<img class="title-image" src="img/logowhite.png" height="100%"/>'>
    <ion-content>
        <h3>Search Results</h3>
        <div class="list">
            <div ng-repeat="item in search_result">
                <a class="item item-thumbnail-left" href="#/app/cardetails/{{ item.Car.id }}">
                    <img src="{{ item.Car.main_image }}">
                    <h2> {{ item.Car.vehicle == null ? item.Car.make + item.Car.model + item.Car.year : item.Car.vehicle }} </h2>
                    <p>$ {{ item.Car.price == null ? "": item.Car.price }}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
