<ion-view view-title='<img class="title-image" src="img/logowhite.png" height="100%"/>'>
    <ion-content>
        <form name='signup' ng-submit='registration_action()'>
            <div class="list">
                <label class="item item-input" >
                    <span class="input-label">First Name</span>
                    <input type="text" name="firstname" ng-model="user.firstname" placeholder="Type your first name" ng-required='true'>
                    <span class="error" ng-show="submitted && signup.firstname.$error.required">first name is required</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input name="lastname" ng-model='user.lastname' type="text" placeholder="Type your first name" ng-required='true'>
                    <span class="error" ng-show="submitted && signup.lastname.$error.required">last name is required</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-minlength='4' ng-maxlength='20' name="password" class="form-control" ng-model='user.password' placeholder="**********" ng-required='true'>
                    <span class="error" ng-show="submitted && signup.password.$error.required">password is required</span>
                    <span class="error" ng-show="signup.password.$error.minlength">password minimum length 4</span>
                    <span class="error" ng-show="signup.password.$error.maxlength">password maximum length 20</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input ng-model='user.confirmpassword' ng-minlength='4' ng-maxlength='20' name="confirmpassword" class="form-control" type="password" placeholder="**********" ng-required='true'>
                    <span class="error" ng-show="submitted && signup.confirmpassword.$error.required">confirm password is required</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email Address</span>
                    <input class="form-control" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' name="email" ng-model='user.email' type="email" placeholder="example: eddie@gmail.com" ng-required='true'>
                    <span class="error" ng-show="submitted && signup.email.$error.required">email is required</span>
                    <span class="error" ng-show="submitted && signup.email.$error.pattern">email is not valid formate</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirm Email Address</span>
                    <input ng-model='user.confirmemail' ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' name="confirmemail" class="form-control" type="email" placeholder="example: eddie@gmail.com" ng-required='true'>
                    <span class="error" ng-show="submitted && signup.confirmemail.$error.required">confirm email is required</span>
                    <span class="error" ng-show="submitted && signup.email.$error.pattern">confirm email is not valid formate</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input class="form-control" ng-model='user.phone' type="text" placeholder="Enter country code + phone number" ng-required='true'>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mobile</span>
                    <input ng-model='user.mobile' class="form-control" type="text" placeholder="Enter country code + phone number" ng-required='true'>
                </label>
                <label class="item item-select">
                    <span class="input-label">Gender</span>
                    <select ng-model='user.gender'>
                        <option value="" selected="selected">Select Gender</option>
                        <option ng-repeat='item in [{text:"male",value:"m"},{text:"female",value:"f"}]' value="{{item.value}}">{{item.text}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Date of Birth</span>
                    <input type="text" ng-click="showDatePicker()" ng-model='user.dateofbirth'>
                </label>
                <label class="item">
                    <button type="submit" ng-click='submitted=true' class="btn btn-sm button">SIGN UP</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
