<ion-view view-title='<img class="title-image" src="img/logowhite.png" height="100%"/>'>
    <ion-content>
        <form ng-submit="signin_action()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="login.username" Placeholder="Type your username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="login.password" Placeholder="******">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Sign in</button>
                </label>
                <label class="item" ng-show="login.status">
                    <h2> {{ login.status }} </h2>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
