/* Empty. Add your own CSS if you like */
.landing {
	background-image: url(../img/landing-page.jpg);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;

}
.custum-indistinct {background-color: rgba(0,0,0,.25);}
.landing .center-logo {max-width:90%; margin: 20px auto 5px; text-align: center; }